<%- include("../partials/metas")%>
 <%- include("../partials/header")%>
<main>
  <form action="/engine-types/add" method="post">
    <h1>Add Engine Type</h1>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" required id="name" name="name" />
    </div>
    <button id="submit">Submit</button>
  </form>
</main>
<%- include("../partials/footer")%>
