<header>
  <ul>
    <li><a href="/wagon-types">Wagon Types</a></li>
    <li><a href="/wagons">Wagons</a></li>
    <li><a href="/trains">Trains</a></li>
    <li><a href="/events">Events</a></li>
    <li><a href="/warehouses">Warehouses</a></li>
    <li><a href="/engine-types">Engine Types</a></li>
  </ul>
</header>
